
$white: #fff;
$primary: #4A90E2;


$base-font-family:      "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$base-font-family-sans: "Lato", sans-serif;
$base-font-family-mono: "Source Code Pro", monospace;
$base-font-artical: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
$base-font-size:        16px;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1;

$dark-color:       #111;
$light-color:      #eee;

$text-color:       $dark-color;
$text-color-light: $light-color;
$background-color: #fafdfd;
$brand-color:      #12D8E0;
$brand-color-2:    #F2F2F2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark:  darken($grey-color, 20%);

$content-width:    700px;
$spacing-unit:     32px;
$margin-normal: 18px;

$on-palm:          799px;
$on-laptop:        800px;

$radius:           6px;
$transition-base:  all 200ms linear;
$transition-nav:   all 500ms linear;
