---
layout: default
home: true
---

<div class="home">
    <ul class="post-list">
        {% if site.pagination %}
        {% assign source = paginator.posts %}
        {% else %}
        {% assign source = site.posts %}
        {% endif %}

        <template v-for="post in posts" >
        <post-item v-bind:post="post">
        </post-item>
        </template>
    </ul>
    <script>
        window.data = 
        [
            {% for post in source %}
            {
                url: "{{ post.url | prepend: site.baseurl }}",
                title: "{{ post.title }}",
                thumb: "{{post.thumb}}",
                date: '{{post.date | date: "%B %-d, %Y" }}'
            },
            {% endfor %}
        ]
    </script>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->
</div>
