@charset "utf-8";

/*
   Variables
   ========================================================================== */
@import "./utils/variables";
/*
   Mixins
   ========================================================================== */
@import "./utils/mixins";


/*
   components
   ========================================================================== */
@import "./components/header", 
  "./components/artical";

* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}
.home {
  height: 100%;
  padding: 60px 120px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}